<div id="<%= dom_id post %>">
  <p class="my-5 text-2xl">
    <%= post.title %>
  </p>

  <p class="my-5 adm-text-quaternary">
    <%= post.category %>
  </p>

  <% if post.document %>
    <p class="my-5">
      Document(s) inclu(s)
    </p>
  <% end %>

  <%= simple_format post.content, class: "my-5 text-xl mb-24" %>

  <% if action_name != "show" %>
    <%= link_to "Voir", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Éditer', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
