<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="card card-compact md:card-normal adm-bg-tertiary shadow-xl glass mt-12">
      <div class="card-body">
        <%= link_to actualites_path(category: @post.category) do %>
          <p class="text-2xl badge badge-lg badge-outline p-4 my-4"><%= @post.category %></p>
        <% end %>
        <h1 class="card-title adm-text-primary text-2xl lg:text-5xl font-black break-word !mb-8"><%= @post.title %></h1>
        <%= simple_format @post.content, class: "adm-text-tertiary text-2xl break-word" %>
        <% if @post.document %>
          <%=link_to "Télécharger", inscription_path(post_id: @post.id), class: "btn btn-outline text-white mt-6" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Retour vers les ressources et actualités", root_path(anchor: "ressources"), class: "btn btn-outline btn-block text-center text-white mx-auto my-12" %>
    <% if user_signed_in? %>
      <%= link_to 'Éditer', edit_post_path(@post), class: "mt-24 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Supprimer', post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
      <%= link_to 'Retour aux posts', posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
